body {
  margin: 20px;
  background-color: #b1c3ff;
}
.heading {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: black;
}
.button {
  background-color: #f3e8c3;
  border-style: wave;
  border-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  justify-content: center;
  width: 250px;
  margin: 30px;
}
.button-container {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 20px;
}
#workout-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-style: groove;
  border-color: white;
  border-radius: 16px;
}
#bodyTitle {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: black;
}

